:root {

    /* Base seleciona resolução */
    /*  Base 1   = 720p
        Base 1.5 = 1080p  */
    --base: 1;

    /* Score colors */
    --player-1-score-bg:#d61e1e;
    --player-1-score-text:#ecf0f1;
    --player-2-score-bg:#d61e1e;
    --player-2-score-text:#ecf0f1;

    /* Name colors */
    --player-1-name-bg:white;
    --player-1-name-text:#121314;
    --player-2-name-bg:white;
    --player-2-name-text:#121314;

    --margin: calc(var(--base) * 15px);

    --scoreHeight: calc(var(--margin)/4);
    --scoreHeight: var(--margin);

    --font-family: Segoe UI;
    --font-size-player: calc(var(--base) * 16px);
    --font-size-score: calc(var(--base) * 22px);
    --font-weight-score: bold;

    --playerHeight: calc(var(--margin)/4);
    --playerWidth: calc(var(--base) * 320px);

    --outwardMargin: calc(var(--base) * 350px);
    --spacinTop: calc(var(--base) * 0px);
}